// 列表样式
.list-item{
    // 这是对a链接的限制
    width:150px;
    a{
        display: block; width:100%;
        overflow: hidden;word-break: keep-all;text-overflow: ellipsis;
    }
}
.list-div{
    // 这是对div的限制
    width:300px;
    .list-divItem{
    width:100%;overflow: hidden;word-break: keep-all;text-overflow: ellipsis;
    }
}

.sku_type_sign {
    margin: 0 5px;
}
.equities_item_comp {
    display: inline-block;
    padding: 3px 6px;
    background-color: #ecf3fe;
    border-radius: 4px;
    margin: 0 5px 5px 0;
}
.euitites_other_content {
    background-color: #f0f0f0;
}
.equities_img {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 4px;
}
.export_public_order_table {
    .ant-table-fixed-left {
        width: 162px;
    }
}