{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
    /*,"plugin:prettier/recommended"*/
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  "rules": {
    "semi": 0,
    "no-debugger": 0,
    "no-unused-vars": 0,
    "no-case-declarations": 0,
    "no-useless-constructor": 0,
    "no-console": 1,
    "react/display-name": 0,
    "react/prop-types": 0,
    "no-irregular-whitespace": 2,
    "keyword-spacing": 0,
    "key-spacing": [
      0,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "semi-spacing": [
      0,
      {
        "before": false,
        "after": true
      }
    ],
    "no-spaced-func": 2,
    "react/jsx-no-target-blank": 0,
    "react/no-find-dom-node": 0
  },
  "globals": {
    "require": true,
    "module": true,
    "window": true,
    "process": true,
    "document": true,
    "console": true,
    "Promise": true,
    "FileReader": true,
    "setTimeout": true,
    "clearTimeout": true,
    "Set": true,
    "__dirname": true,
    "Reflect": true
  }
}
