@import "../indexNbTheme";

.task-pool-router-wrapper {
  position: relative;
}

.text-red {
  color: red !important;
}

.text-gray {
  color: #999 !important;
}

.text-black {
  color: #333 !important;
}

.text-bold {
  font-weight: 500;
}

.task-pool-page-container {
  .ant-page-header {
    padding: 0 0 10px 0;
  }

  .ant-page-header-heading-extra {
    top: -4px;
  }

  &.create-task-page {

    label.ant-checkbox-wrapper {
      user-select: none;
    }
    &>header,
    &>main {
      width: 800px;
      margin: 10px auto;
    }

    &>header {}

    &>main {
      padding-top: 40px;

      footer {
        margin-top: 26px;

        .ant-btn {
          width: 100px;
          margin-right: 20px;
        }
      }
    }

    .flex-form-input-container {
      display: flex;
      align-items: center;

      .flex-form-input-suffix {
        margin-left: 10px;
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        background: #f5f5f5;
        color: #666;
      }
    }

    .taskPosCheckboxComp {
      margin: -8px 0 6px 134px;
    }
  }

  &.create-attribute-page {
    width: 800px;
    margin: 0 auto;
  }
  .has-error .form-editor-container {
    border-color: #f5222d;
  }

  .form-editor-container {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 6px;
  }

  &.detail-page {
    .ant-descriptions-item {
      vertical-align: top;

      .ant-descriptions-item-label {
        vertical-align: top;
      }
    }

    .content-wrap {
      display: flex;

      .image-wrap {
        width: 140px;
        margin-right: 10px;

        img {
          width: 100%;
        }
      }

    }
  }

  &.review-page {
    min-width: 1000px;
  }
}

.center-success-modal {
  .ant-modal-confirm-body-wrapper {
    .anticon {
      float: none;
      margin: 0 0 10px 0;
      font-size: 36px;
    }

    .ant-modal-confirm-content {
      margin: 10px auto 0 !important;
    }

    .ant-modal-confirm-btns {
      float: none;
    }

    text-align: center;
  }
}

.task-query-wrapper {
  width: 100%;
  padding: 10px 30px 0 0;
  background: #F7F7F7;
  margin-bottom: 20px;

  .ant-form-item-label {
    margin-left: 15px;
  }

  &:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .ant-form-item,
  .ant-form-item-label,
  .ant-form-item-control-wrapper {
    display: inline-block;
    vertical-align: top;
  }

  .operate-wrapper {
    float: right;

    .ant-btn {
      margin-left: 20px;
    }
  }

  .common_search_width {
    width: 160px;
  }
}

.manage-page {
  .taskOperateWrapper {
    a:nth-child(even) {
      margin-left: 10px;
    }
  }
}

.task-operate-modal {
  .reason-block-wrapper {
    .ant-checkbox-group-item {
      display: block;
      margin-top: 10px;
    }
  }
}

.children-mr {
  display: flex;

  .ant-btn {
    margin: 0px 4px;
  }
}

.button-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .ant-btn {

    margin: 0px 15px;
  }
}

.required-red-star {
  position: relative;
  left: -8px;
  width: 0;
  display: inline-block;
  color: #f5222d;
  font-size: 13px;
  font-family: SimSun, sans-serif;
  line-height: 1;
}
