.data-module-header-container{
  display: flex;
  align-items: center;
  background: #f3f3f3;
  i{
    padding: 8px 10px 8px 16px;
  }
  & > .title{
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    small{
      color: #999;
      margin: 0 8px;
      font-weight: normal;
    }
  }
  .extra{
  }
}
