@import "../../antdTheme";
@border: 1px solid #f0f0f0;
.line-style {
  min-height: 44px;
  padding: 0 18px;
}

// style
.campaign-card-container {
  border: @border;
  margin-bottom: 10px;

  .campaign-card-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f7f7f7;
    color: #999;
    .line-style();

    .campaign-head-info-item {
      line-height: 28px;
      .title {
        margin-right: 0;
        &:after{
          content: '：';
        }
      }
      .value{
        color: #333;
      }
    }
    .head-right {
      user-select: none;
      transition: all .1s;
      display: flex;

      a {
        line-height: 44px;
        margin-left: 14px;

        i {
          margin: 0 4px
        }
      ;
      }
    }
  }

  .campaign-card-main {
    & > .order-item:last-child{
      border: none;
    }
    & > .order-item {
      display: flex;
      padding: 16px 10px 16px 20px;
      align-items: center;
      border-bottom: 1px solid #f0f0f0;
      [class^=columns-] {
        flex: 1;
        box-sizing: border-box;
        margin-right: 6px;
        & > .title {
          color: #b3b3b3;
          font-size: 13px;
          margin-right: 0;
        }
        & > .value {
          //color: @primary-color;
        }
        &.align-center {
          text-align: center;
        }
        &.align-right {
          text-align: right;
        }
      }
      .columns-order-id {
        flex: none;
        width: 80px;
      }
      .columns-account-infos {
        display: flex;
        width: 250px;
        flex: none;
        .account-infos {
          margin-left: 10px;
        }
      }
      .columns-countdown{
        width: 120px;
        flex: none;
      }
      .columns-actions {
        width: 100px;
        flex: none;
        margin-left: auto;
      }
    }
    .red {
      color: red!important;
    }
  }
}
