.task-budget-consumptions {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-align: right;

  .left {
    flex: none;
    width: 100px;
    color: #999;
    margin-right: 4px;
  }
}
